body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    background-image: url("winter-road.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.polygon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20vh 10vw;
}

.ts {
    background-color: rgba(49, 120, 198, 0.6);
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 70%);
}

.ts .logo {
    height: 25vh;
    max-width: 30vw;
    margin: 0 40vw 50vh 0;
}

.go {
    background-color: rgba(0, 125, 156, 0.6);
    clip-path: polygon(0% 70%, 100% 30%, 100% 100%, 0% 100%);
}

.go .logo {
    height: 25vh;
    max-width: 40vw;
    margin: 50vh 0 0 40vw;
}
